@using Umbraco.Commerce.Checkout.Helpers
@inherits UmbracoCommerceRazorTemplateView<OrderReadOnly>
@{
    // Get order entities
    var store = await UmbracoCommerceApi.GetStoreAsync(Model.StoreId);
    var paymentMethod = Model.PaymentInfo.PaymentMethodId.HasValue
        ? await UmbracoCommerceApi.GetPaymentMethodAsync(Model.PaymentInfo.PaymentMethodId.Value)
        : null;
    var paymentCountry = Model.PaymentInfo.CountryId.HasValue
        ? await UmbracoCommerceApi.GetCountryAsync(Model.PaymentInfo.CountryId.Value)
        : null;
    var paymentRegion = Model.PaymentInfo.RegionId.HasValue
        ? await UmbracoCommerceApi.GetRegionAsync(Model.PaymentInfo.RegionId.Value)
        : null;
    var shippingMethod = Model.ShippingInfo.ShippingMethodId.HasValue
        ? await UmbracoCommerceApi.GetShippingMethodAsync(Model.ShippingInfo.ShippingMethodId.Value)
        : null;
    var shippingCountry = Model.ShippingInfo.CountryId.HasValue
        ? await UmbracoCommerceApi.GetCountryAsync(Model.ShippingInfo.CountryId.Value)
        : null;
    var shippingRegion = Model.ShippingInfo.RegionId.HasValue
      ? await UmbracoCommerceApi.GetRegionAsync(Model.ShippingInfo.RegionId.Value)
      : null;

    // Lookup the umbraco commerce checkout page for the associated orders store
    // so that we can extract relevant settings to configure the email template
    var checkoutRelationHelper = this.GetRequiredService<StoreCheckoutRelationHelper>();
    var checkoutPage = checkoutRelationHelper.ResolveCheckoutPageByStoreId(store.Id);
    if (checkoutPage == null)
    {
        throw new InvalidOperationException($"No checkout page found for store {store.Name} ({store.Id})");
    }

    var uccStoreLogoUrl = checkoutPage.Value<IPublishedContent>("uccStoreLogo")?.Url();
    var uccStoreTsAndCsUrl = checkoutPage.Value<IPublishedContent>("uccTermsAndConditionsPage")?.Url();
    var uccStorePrivacyPolicyUrl = checkoutPage.Value<IPublishedContent>("uccPrivacyPolicyPage")?.Url();
    var uccStoreAddress = checkoutPage.Value<string>("uccStoreAddress");
    var uccThemeColor = checkoutPage.Value<string>("uccThemeColor", defaultValue: "000000");
}
<style type="text/css">
    #ucc, #ucc td, #ucc p {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #5f6a70;
    }

        #ucc td {
            vertical-align: top;
        }
</style>
<div id="ucc" style="font-family: sans-serif; font-size: 14px; line-height: 18px; color: #5f6a70;">
    <table style="background-color: #f5f5f5; width: 100%;">
        <tr>
            <td style="padding: 40px;">

                <table style="background-color: white; width: 100%; max-width: 700px; margin: 0 auto;">
                    <tr>
                        <td style="padding: 40px;">
                            <div style="text-align: center;">

                                @if (!string.IsNullOrWhiteSpace(uccStoreLogoUrl))
                                {
                                    <a href="@(BaseUrl)" target="_blank"><img src="@Html.Raw(BaseUrl + uccStoreLogoUrl.GetCropUrl(200, 100, imageCropMode: ImageCropMode.Max))" alt="@(store.Name)" border="0" /></a>
                                }
                                else
                                {
                                    <h1 class="margin: 0 0 20px; font-size: 30px; line-height: 38px; color: ##000;"><a href="@(BaseUrl)" style="color: #000;" target="_blank">@(store.Name)</a></h1>
                                }

                                <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                                <h2 style="margin: 0 0 20px; font-size: 20px; line-height: 28px; color: #@(uccThemeColor);">Order Confirmation - #@(Model.OrderNumber)</h2>
                                <p>
                                    Thank you for your order with <a href="@(BaseUrl)" target="_blank" style="color: #@(uccThemeColor);">@(store.Name)</a>, your order details can be found below.
                                </p>
                            </div>

                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />

                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td style="width: 50%; padding-bottom: 30px;">
                                        <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Customer Information</h2>
                                        <p><strong>@Model.CustomerInfo.FirstName @Model.CustomerInfo.LastName</strong><br />@Model.CustomerInfo.Email</p>
                                    </td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; padding-bottom: 20px;">
                                        <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Billing Information</h2>
                                        <p style="margin: 0;">
                                            @{
                                                var billingParts = new[]
                                                {
                                            $"{Model.CustomerInfo.FirstName} {Model.CustomerInfo.LastName}".Trim(),
                                            Model.Properties["billingAddressLine1"],
                                            Model.Properties["billingAddressLine2"],
                                            Model.Properties["billingCity"],
                                            Model.Properties["billingZipCode"],
                                            paymentCountry?.Name,
                                            paymentRegion != null ? paymentRegion.Name : null
                                            };
                                                @Html.Raw(string.Join("<br />", billingParts.Where(x => !string.IsNullOrWhiteSpace(x))))
                                            }
                                        </p>
                                        @if (Model.Properties["billingTelephone"] != null)
                                        {
                                            <p style="margin: 0;padding-top: 10px;">Tel: @Model.Properties["billingTelephone"]</p>
                                        }
                                    </td>
                                    @if (checkoutPage.Value<bool>("uccCollectShippingInfo"))
                                    {
                                        <td style="width: 50%;">
                                            <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Shipping Information</h2>
                                            <p style="margin: 0;">
                                                @{
                                                    var shippingParts = new[]
                                                    {
                                            $"{Model.Properties["shippingFirstName"]} {Model.Properties["shippingLastName"]}".Trim(),
                                            Model.Properties["shippingAddressLine1"],
                                            Model.Properties["shippingAddressLine2"],
                                            Model.Properties["shippingCity"],
                                            Model.Properties["shippingZipCode"],
                                            shippingCountry?.Name,
                                            shippingRegion != null ? shippingRegion.Name : null
                                            };
                                                    @Html.Raw(string.Join("<br />", shippingParts.Where(x => !string.IsNullOrWhiteSpace(x))))
                                                }
                                            </p>
                                            @if (Model.Properties["shippingTelephone"] != null)
                                            {
                                                <p style="margin: 0;padding-top: 10px;">Tel: @Model.Properties["shippingTelephone"]</p>
                                            }
                                        </td>
                                    }
                                </tr>
                            </table>

                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />

                            @if (Model.Properties["comments"] != null)
                            {
                                <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Comments</h2>
                                <p style="margin: 0;">@Model.Properties["comments"]</p>

                                <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            }

                            <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Order Details</h2>
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td style="text-align: right;"><strong>Price</strong></td>
                                    <td style="text-align: right;"><strong>Quantity</strong></td>
                                    <td style="text-align: right;"><strong>Total</strong></td>
                                </tr>
                                @foreach (var orderLine in Model.OrderLines)
                                {
                                    <tr>
                                        <td style="vertical-align: top;padding-top:20px;">
                                            @orderLine.Name<br /><span style="color:#a0aec0; font-size: 12px;">@orderLine.Sku</span>
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @await orderLine.UnitPrice.Value.FormattedAsync(x => x.WithoutTax)
                                            @if (orderLine.UnitPrice.Value != orderLine.UnitPrice.WithoutAdjustments)
                                            {
                                                <br />
                                                <span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@await orderLine.UnitPrice.WithoutAdjustments.FormattedAsync(x => x.WithoutTax)</span>
                                            }
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @((int)orderLine.Quantity)
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @await orderLine.TotalPrice.Value.FormattedAsync(x => x.WithoutTax)
                                            @if (orderLine.TotalPrice.Value != orderLine.TotalPrice.WithoutAdjustments)
                                            {
                                                <br />
                                                <span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@await orderLine.TotalPrice.WithoutAdjustments.FormattedAsync(x => x.WithoutTax)</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td style="vertical-align: top;"><strong>Subtotal</strong></td>
                                    <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                        <strong>
                                            @await Model.SubtotalPrice.WithPreviousAdjustments.FormattedAsync(x => x.WithoutTax)
                                        </strong>
                                    </td>
                                </tr>

                                @{
                                    var subtotalFeesAdjustment = Model.SubtotalPrice.Adjustments.Where(adj => adj.Price.WithTax > 0).Sum(Model.CurrencyId);
                                    if (subtotalFeesAdjustment > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: top;">
                                                Subtotal Fees
                                            </td>
                                            <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                                @await subtotalFeesAdjustment.FormattedAsync(x => x.WithoutTax)
                                            </td>
                                        </tr>
                                    }

                                    var subtotalDiscountAdjustment = Model.SubtotalPrice.Adjustments.Where(adj => adj.Price.WithTax < 0).Sum(Model.CurrencyId);
                                    if (subtotalDiscountAdjustment < 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: top;">
                                                Subtotal Discount
                                            </td>
                                            <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                                @await subtotalDiscountAdjustment.FormattedAsync(x => x.WithoutTax)
                                            </td>
                                        </tr>
                                    }
                                }

                                @if (shippingMethod != null && checkoutPage.Value<bool>("uccCollectShippingInfo"))
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Shipping via @shippingMethod.Name
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @if (Model.ShippingInfo.TotalPrice.WithoutAdjustments.WithoutTax != Model.ShippingInfo.TotalPrice.Value.WithoutTax)
                                            {
                                                <text><span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@await Model.ShippingInfo.TotalPrice.WithoutAdjustments.FormattedAsync(x => x.WithoutTax)</span> </text>
                                            }
                                            @await Model.ShippingInfo.TotalPrice.Value.FormattedAsync(x => x.WithoutTax))
                                        </td>
                                    </tr>
                                }

                                @if (paymentMethod != null && paymentMethod.Alias != UmbracoCommerceCheckoutConstants.PaymentMethods.Aliases.ZeroValue)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Payment via @paymentMethod.Name
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @if (Model.PaymentInfo.TotalPrice.WithoutAdjustments.WithoutTax != Model.PaymentInfo.TotalPrice.Value.WithoutTax)
                                            {
                                                <text><span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@await Model.PaymentInfo.TotalPrice.WithoutAdjustments.FormattedAsync(x => x.WithoutTax)</span> </text>
                                            }
                                            @await Model.PaymentInfo.TotalPrice.Value.FormattedAsync(x => x.WithoutTax)
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td style="vertical-align: top; padding-top: 20px;"><strong>Net Total</strong></td>
                                    <td style="vertical-align: top; padding-top: 20px; text-align: right; white-space: nowrap;">
                                        <strong>
                                            @await Model.TotalPrice.WithPreviousAdjustments.FormattedAsync(x => x.WithoutTax)
                                        </strong>
                                    </td>
                                </tr>
                                @{
                                    var totalFeesAdjustment = Model.TotalPrice.Adjustments.Where(adj => adj.Price.WithTax > 0).Sum(Model.CurrencyId);
                                    if (totalFeesAdjustment > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: top;">
                                                Net Total Fees
                                            </td>
                                            <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                                @await totalFeesAdjustment.FormattedAsync(x => x.WithoutTax)
                                            </td>
                                        </tr>
                                    }

                                    var totalDiscountAdjustment = Model.TotalPrice.Adjustments.Where(adj => adj.Price.WithTax < 0).Sum(Model.CurrencyId);
                                    if (totalDiscountAdjustment < 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: top;">
                                                Net Total Discount
                                            </td>
                                            <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                                @await totalDiscountAdjustment.FormattedAsync(x => x.WithoutTax)
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td style="vertical-align: top;">
                                        TAX
                                    </td>
                                    <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                        @await Model.TotalPrice.Value.FormattedAsync(x => x.Tax)
                                    </td>
                                </tr>
                                @{
                                    var totalGiftCardAdjustment = Model.GetTotalAmountAdjustmentByType<GiftCardAdjustment>();
                                    if (totalGiftCardAdjustment != 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: top;">
                                                Gift Card<br />
                                                <style class="color:#a0aec0; font-size: 12px;">@string.Join(", ", Model.GiftCards.Select(x => x.Code))</style>
                                            </td>
                                            <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                                @(await totalGiftCardAdjustment.FormattedAsync())
                                            </td>
                                        </tr>
                                    }
                                }
                                @if (Model.TransactionInfo.TransactionFee.Value > 0M)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Transaction fee
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @await Model.TransactionInfo.TransactionFee.FormattedAsync()
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="vertical-align: top; padding-top: 20px;">
                                        <strong style="color: #@(uccThemeColor);">Order Total</strong>
                                    </td>
                                    <td style="vertical-align: top; padding-top: 20px; text-align: right; white-space: nowrap;">
                                        <strong style="color: #@(uccThemeColor);">
                                            @await Model.TotalPrice.Value.FormattedAsync()
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            <p style="text-align: center;">
                                @DateTime.Now.ToShortDateString()
                                <br />
                                <a href="@(BaseUrl + uccStoreTsAndCsUrl)" target="_blank" style="color: #@(uccThemeColor);">Terms of Service</a> | <a href="@(BaseUrl + uccStorePrivacyPolicyUrl)" target="_blank" style="color: #@(uccThemeColor);">Privacy Policy</a>
                            </p>
                            <p style="text-align: center; margin-bottom: 0;">@(store.Name), @(uccStoreAddress)</p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>
</div>
